{% extends 'base/base.html' %}
{% load static %}
{% block title %}  Detail {% endblock %}
{% block header %}

{% endblock %}
{% block content %}
    <div class="row">
      <div class="col-md-6 border container p-4 mb-3">
        <h4><small class="text-muted">Perfil de Usuario</small></h4>
        <h2>{{ usuario.nombres }} {{ usuario.apellido1 }} {{ usuario.apellido2 }} </br></h2>
        <br></br>
        <div class="row">
          <div class="form-group col-md-3">
            <img src="{% static 'images/M1.jpg' %}" class="rounded mx-auto d-block profile_photo" alt="Perfil">
          </div>
          <div class="form-group col-md-9">
            {{ usuario.usuario }}<br>
            {{ usuario.numero_empleado }}<br>
            {{ usuario.cargo }}<br>
            {{ usuario.zona }}<br>
            {{ usuario.municipio }},{{ usuario.departamento }}</br>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="form-group col-md-6">
            <label for="telefono"><strong>Teléfono:</strong></label>
            <input type="text" class="form-control-plaintext" id="telefono" placeholder="Teléfono" value="{{ usuario.telefono }}" readonly>
          </div>
          <div class="form-group col-md-6">
            <label for="correo"><strong>Correo Electrónico</strong></label>
            <input type="text" class="form-control-plaintext" id="correo" placeholder="Correo Electrónico" value="{{ usuario.correo }}" readonly>
          </div>
        </div>
        </br>
        <div class="row">
            <div class="form-group col-md-6">
              <label for="inputEmail4"><strong>Fecha de Ingreso</strong></label>
              <input type="text" class="form-control-plaintext" id="inputEmail4" placeholder="Email" value="{{ usuario.fecha_ingreso }}" readonly>
            </div>
            <div class="form-group col-md-6">
              <label for="inputPassword4"><strong>Jefe</strong></label>
              <input type="text" class="form-control-plaintext" id="inputPassword4" placeholder="Password" value="{{ usuario.jefe }}" readonly>
            </div>
          </div>
        </div>

        {% if flag %}
          <div class="col-md-6 border container p-4 mb-3">
            <h2>Subalternos</h2>
          </div>
        {% else %}
          <div class="col-md-6 border container p-4 mb-3">
            <h2>Ventas</h2>
        </div>
        {% endif %}
        
    </div>
{% endblock %}

   