{% extends 'base/base.html' %}
{% load static %}
{% load usuario_extras %}
{% block title %}  Detail {% endblock %}
{% block header %}

{% endblock %}
{% block content %}
    <div class="row">
      <div class="col-md-6 border container p-4 mb-3">
        <h4><small class="text-muted">Perfil de Usuario</small></h4>
        <h2>{{ usuario }}</h2>
        <div class="row">
          <div class="form-group col-md-6">
            <ul class="list-group">
              <li class="list-group-item"><strong>Documento: </strong> {{ usuario.documento | is_none }}</li>
              <li class="list-group-item"><strong>Eps: </strong> {{ usuario.eps | is_none }}</li>
              <li class="list-group-item"><strong>Rol: </strong> {{ usuario.rol }}</li>
              <li class="list-group-item"><strong>Edad: </strong> {{ usuario.fecha_nacimiento | calcular_edad }}</li>
            </ul>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="form-group col-md-3">
            <label for="telefono"><strong>Teléfono:</strong></label>
            <input type="text" class="form-control-plaintext" id="telefono" value="{{ usuario.telefono | is_none }}" readonly>
          </div>
          <div class="form-group col-md-3">
            <label for="email"><strong>Genero:</strong></label>
            <input type="text" class="form-control-plaintext" id="genero" value="{{ usuario.genero | is_none }}" readonly>
          </div>
        </div>
      </div>
    </div>
{% endblock %}
{% block footer %}
{% endblock %}