{% extends 'base/base.html' %}
{% load usuario_extras %}
{% block title %}  Usuarios {% endblock %}
{% block header %}
    <br><h4>Usuarios</h4><br>
{% endblock %}
{% block content %}
    <h1 class="display-6 mt-4">Lista de Usuarios en el sistema</h1>
    <table class="table table-bordered mt-4 tabla_azul">
        <thead>
            <th>Nombre Completo</th>
            <th>Documento</th>
            <th>Genero</th>
            <th>Edad</th>
            <th>Telefono</th>
            <th>Eps</th>
            <th>Rol</th>
            <th>Acción</th>
        </thead>
        <tbody>
            {% if usuarios%}
                {% for usuario in usuarios %}
                <tr class="{{ usuario.fecha_nacimiento | alert }}">
                    <th><a href="{% url 'detail' usuario.id %}"> {{ usuario | is_none}}</a></th>
                    <td>{{ usuario.documento | is_none}} </td>
                    <td>{{ usuario.genero | is_none}} </td>
                    <td>{{ usuario.fecha_nacimiento | calcular_edad }}</td>
                    <td>{{ usuario.telefono | is_none}}</td>
                    <td>{{ usuario.eps | is_none}}</td>
                    <td>{{ usuario.rol | is_none}}</td>
                    <td>
                        <div class="form-check">
                            <button type="button" disabled class="btn btn-secondary btn-sm">Editar</button>
                        </div>
                    </td>
                </tr>
                {% endfor %}
        </tbody>
        {% else %}
            <h1>No hay usuarios registrados</h1>
        {% endif %}
    </table>
{% endblock %}

{% block footer %}
{% endblock %}
   